<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - TechEvents</title>
</head>
<hr>
<body>
    <ul>
        <li>
            <a href="/events">Home</a>
        </li>
        <li>
            <a href="/events/new">New Event</a>
        </li>
    </ul>
    <hr>
    {% block content %}

    {% endblock %}
</body>
<hr>
<footer>
    &copy Testing 123
</footer>
<hr>
</html>