<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - TechEvents</title>
</head>
<body>
    <header>
        <h1>Highland Tech Meetups</h1>
        <ul>
            <li>
             <a href="/events">Home</a>
            </li>
            <li>
                <a href="/events/new">Add Event</a>
            </li>
        </ul>
    </header>
    {% block content %}

    {% endblock %}
</body>
<footer>
    &copy Highland Events
</footer>
</html>