{% extends "base.html" %}

{% block content %}

<h2>All Events</h2>
 <div>
  <table>
    <thead>
      <tr>
        
        <th>Name</th>
        <th>Number of Guests</th>
        <th>Location</th>
        <th>Description</th>
        <th>Date</th>
        <th> Recurring</th>
        <th> Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events_list %}
      <tr>
        
        <td>{{ event.name}}</td>
        <td>{{ event.number_of_guests }}</td>
        <td>{{ event.room_location }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date.strftime("%d %b %Y") }}</td>
        <td>{%if event.recurring %} &#9989; {% else %} - {% endif %} </td>
        <td>
          <form action="/events/delete" method="post">
            <input
              type="hidden"
              value="{{events_list.index(event)}}"
              name="delete"
            />
            <input class="delete_button" type="submit" value="&#9587;" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


